body {
    min-height: 75rem;
}
h1{
  color:white;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
  color:white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
  color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.col{
  color:white;
    height: 30;
    font-weight: bold ;
}
@media screen and (max-width: 767px) {
    .column{
        display: block;
        width: 100%;
    }
}

body{
  background-color: black;
}

img
{
  max-height: 6rem;
}